<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Subreddit Not Found</title>
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/notfound.css">
    </head>
    <body>
        <h1>Subreddit Not Found</h1>
        <p>Sorry, the subreddit "<%= subreddit %>" does not exist.</p>
        <p><a href="/">Go back to the homepage</a></p>
    </body>
</html>